<!DOCTYPE html>
<html>
<head>
    <title>Transaction Receipt</title>
    <style>
        
    </style>
</head>
<body>
    <div class="container">
        <h1>Transaction Receipt</h1>
        <h2>Sender: {{ sender }}</h2>
        <h2>Recipient: {{ recipient }}</h2>
        <h2>Amount: ${{ amount }}</h2>

        <h2>Transaction Logs:</h2>
        <table border="1">
            <tr>
                <th>Sender</th>
                <th>recipient</th>
                <th>Amount</th>
                
            </tr>
            {% for log in transaction_logs %}
            <tr>
                <td>{{ log[0] }}</td> <!-- Transaction ID -->
                <td>{{ log[1] }}</td> <!-- Sender -->
                <td>{{ log[2] }}</td> <!-- Recipient -->
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
